{{#app-shell
    actionLeft="Einkaufsliste"
}}

    <h1 class="c-section-header u-is-highlight">{{model.name}}</h1>


    <div class="c-product-facts">

        <div class="c-product-facts__item">
            <div class="c-card">
                {{facts-item value=(decimals model.distance 0) unit="km" info="Transportweg"}}
            </div>
        </div>

        <div class="c-product-facts__item">
            <div class="c-card">
                {{facts-item value="Bio" info="Entspricht Standard"}}
            </div>
        </div>

        <div class="c-product-facts__item">
            <div class="c-card">
                {{facts-item value=(decimals model.sugar 1) unit="Gramm" info="Zucker"}}
            </div>
        </div>

        <div class="c-product-facts__item">
            <div class="c-card">
                {{facts-item value=(decimals model.price 2) unit="€" info="Preis"}}
            </div>
        </div>

    </div>

{{/app-shell}}